@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>A diary for interns</h3>

<p>Use the calendar on the home page to select a date and create, edit or delete an entry.</p>
<p>Use the skills page to view your skills and update them.</p>